.post_left-block {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}
.post-left_like {
  display: flex;
  flex-direction: row;
}
.post-left_like span {
  height: 20px;
  margin: auto 0;
}
.post-left_like button {
  background-color: white;

  border: none;
}
.post-left_like button img {
  width: 16px;
  height: 16px;
}

.post_title-group {
  display: flex;
  flex-direction: row;
}
.post-left_name {
  vertical-align: middle;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  color: #1890ff;
  margin-right: 13px;
  overflow-wrap: anywhere;
}
.post-left_name a {
  text-decoration: none;
  color: #1890ff;
  max-width: 700px;
}
.post-left_name a:hover {
  color: #0a4174;
  text-decoration: underline;
}
.post_user-avatar img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.post_author-data-block {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.post_right-block-floor {
  display: flex;
  flex-direction: column;
}
.post_author-date {
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.post_author-name {
  text-align: right;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 28px;
}
.post_tag {
  overflow-wrap: anywhere;
}
.post_tag button {
  margin-right: 4px;
  font-size: 12px;
  line-height: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 3px;
}
.post_text {
  max-width: 700px;
}
.post_text p {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 22px;

  word-break: break-word;
}
.post_right-block-floor_container {
  display: flex;
  flex-direction: row;
}
.article-controls button {
  background-color: white;
  width: 78px;
  height: 31px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.article-controls .red {
  color: red;
  border: 1px solid red;
  &:hover {
    background-color: red;
    color: white;
  }
}
.article-controls .green {
  color: #52c41a;
  border: 1px solid #52c41a;
  &:hover {
    background-color: #52c41a;
    color: white;
  }
}
.article-controls {
  margin-top: 10px;
}
