.blog-container {
  background-color: #e5e5e5;
  height: 100vh;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
html {
  background-color: #e5e5e5;
}

/* main */
.main {
  width: 941px;

  margin: 0 auto;
  margin-bottom: 100px;
  background-color: #e5e5e5;
}
